.sites {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-auto-rows: 94px;
  grid-gap: 20px;
  margin: 20px;
  margin-top:200px;
}

.site {
  display: flex;
  border-radius: 15px 50px 30px 5px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #00B4CC;
}

.avail {
	background:#00FF00;
}

.taken {
	background:#FF0000;
}

.unkown {
	background:#C0C0C0;
}